{% extends "layout.html" %}

{% block content %}

    <div class="jumbotron">
        <h1>Flask & SQL</h1>
        <p class="lead">Implementing an interface with the Flask framework to communicate with your local SQL server</p>
        <img src="https://miro.medium.com/max/438/1*0G5zu7CnXdMT9pGbYUTQLQ.png">
        <img src="https://allvectorlogo.com/img/2017/02/microsoft-sql-server-logo.png" width="438" height="245">
        
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click on the Database tab to start manipulating your own database! Check the links to the right to learn more.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Learn more about Flask</h2>
        <p>The Flask framework is a great tool to design websites with Python, HTML, CSS and Javascript.</p>
        <p><a class="btn btn-default" href="https://www.flaskapi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Start your local SQL Server. Create your own databases.</h2>
        <p>SQL databases are great for storing large data right on your own computer. Download MS SQL Management Studio to get started.</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver15">Download here &raquo;</a></p>
    </div>
</div>

{% endblock %}
