{% extends "layout.html" %}






{% block content %}

<!--Displayting table-->
<head>
    <title>Database</title>
    <link rel="stylesheet" type="text/css" href="/static/content/table.css" />
</head>
<h1 style="text-align: center">{{ title }}</h1>

<table class="content-table">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>Home Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Email</th>
            <th>Cell</th>
        </tr>
    </thead>
    <tbody>

        {% for person in customer %}
        <tr>
            <td>{{person.custID}}</td>
            <td>{{person.custName}}</td>
            <td>{{person.homeAdd}}</td>
            <td>{{person.city}}</td>
            <td>{{person.stateName}}</td>
            <td>{{person.zipCode}}</td>
            <td>{{person.email}}</td>
            <td>{{person.cell}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>



<!--Form-->

<head>
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="/static/content/form.css" />
</head>

<div class="form">
    <!--Form Control: Based on options, choose what action you wish to perform on the database-->
    <script>
        function myFunction() {
            let box_value = document.getElementById("selection").value;
            if (box_value == "add_form") {
                document.getElementById("add_form").style.display = "initial"
                document.getElementById("delete_form").style.display = "none"
            } else if (box_value == "delete_form") {
                document.getElementById("add_form").style.display = "none"
                document.getElementById("delete_form").style.display = "initial"
            } else if (box_value == "update_form") {
                document.getElementById("add_form").style.display = "none"
                document.getElementById("delete_form").style.display = "none"
                document.getElementById("update_form").style.display = "initial"
            }
        }
    </script>

    <!--Selection list-->
    <select id="selection" onchange="myFunction()">
        <option value="" selected="selected">Choose your options</option>
        <option value="add_form">Add Customer</option>
        <option value="delete_form">Delete Customer</option>
        <option value="update_form">Update Customer</option>
    </select>

    <!--Form to add customer information-->
    <form class="table" name="add_form" id="add_form" style="display:none" action="/table" method='POST'>
        <fieldset>
            <legend>Input Customer Information</legend>
            <input type="text" name="name" placeholder="Customer Name">
            <input type="text" name="homeAdd" placeholder="Home Address">
            <input type="text" name="city" placeholder="City">
            <select name="state" placeholder="State">
                <option value="" selected="selected">Select US State</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>
            <input type="text" name="zipCode" placeholder="ZipCode">
            <input type="text" name="email" placeholder="Valid Email">
            <input type="text" name="cell" placeholder="Cell">
        </fieldset>
        <input type="submit" name="addition" value="Submit" />
    </form>


    <!--Form to delete customer information-->
    <form class="table" name="delete_form" id="delete_form" value="delete_form" style="display:none" action="/table" method='POST'>
        <fieldset>
            <legend>Deleting Customer Records</legend>
            <input type="text" name="ID" placeholder="Customer ID">
        </fieldset>
        <input type="submit" name="deletion" value="Confirm Deletion" />
    </form>


    <!--Form to update customer information-->
    <form class="table" name="update_form" id="update_form" style="display:none" action="/table" method='POST'>
        <fieldset>
            <legend>Update Customer Information</legend>
            <p style="color: #DC143C">Customer ID must be filled. Other fields left blank will retain previous customer's data for those fields</p>
            <input type="text" name="ID" placeholder="Customer ID">
            <input type="text" name="name" placeholder="New Customer Name">
            <input type="text" name="homeAdd" placeholder="New Home Address">
            <input type="text" name="city" placeholder="New City">
            <select name="state" placeholder="State">
                <option value="" selected="selected">Select US State</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>
            <input type="text" name="zipCode" placeholder="New Zip Code">
            <input type="text" name="email" placeholder="New Valid Email">
            <input type="text" name="cell" placeholder="New Cell">
        </fieldset>
        <input type="submit" name="update" value="Update" />
    </form>


</div>
{% endblock %}